<section class="dossier-filter">
    <header class="dossier-filter-header">{{trans 'app.dossier.battles.header'}}</header>
    <article class="dossier-filter-body">
        <label type="checkbox">{{view Ember.Checkbox checkedBinding="filter.random"}} {{trans 'app.dossier.battles.random'}}</label>
        <label type="checkbox">{{view Ember.Checkbox checkedBinding="filter.b7_42"}} {{trans 'app.dossier.battles.b7_42'}}</label>
        <label type="checkbox">{{view Ember.Checkbox checkedBinding="filter.clan"}} {{trans 'app.dossier.battles.clan'}}</label>
        <label type="checkbox">{{view Ember.Checkbox checkedBinding="filter.company"}} {{trans 'app.dossier.battles.company'}}</label>
    </article>
</section>