<dl class="dossier-details">
    <dt>{{trans 'app.dossier.server'}}:</dt>
    <dd>{{server}}</dd>

{{#if totals.battle.battles}}
    <dt>{{trans 'app.dossier.last-played'}}:</dt>
    <dd>{{date totals.tank.last_played_at}}</dd>
{{/if}}
</dl>

<h1 class="page-header">
    {{player}}
    {{#upload-button action="updateDossier" class="dossier-refresh btn btn-link" title="{{trans app.dossier.refresh}}"}}
        {{icon 'refresh'}}
    {{/upload-button}}
</h1>

{{lookup filter.component filter=filter}}

<div class="dossier-data">
{{#if stats}}
    <table class="dossier-table table table-hover table-condensed">
        <thead>
            <tr>
            {{#each columns}}
                <th {{bind-attr class="className"}}>{{ title }}</th>
            {{/each}}
            </tr>
        </thead>

        <tbody class="account">
            <tr class="item is-totals">
            {{cols totals}}
            </tr>
        </tbody>

        <tbody>
        {{#each stats}}
            <tr {{bind-attr class=":item isMuted"}}>
            {{cols this}}
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>{{trans 'app.dossier.no-tanks'}}</p>
{{/if}}
</div>