<dl class="dossier-details">
    <dt>{{trans 'app.dossier.server'}}:</dt>
    <dd>{{server}}</dd>

{{#if totals.battle.battles}}
    <dt>{{trans 'app.dossier.last-played'}}:</dt>
    <dd>{{date totals.tank.last_played_at}}</dd>
{{/if}}
</dl>

<h1 class="page-header">
    {{player}}
    {{#upload-button action="updateDossier" class="dossier-refresh btn btn-link" title="{{trans app.dossier.refresh}}"}}
        {{icon 'refresh'}}
    {{/upload-button}}
</h1>

{{lookup filter.component filter=filter}}

<div class="dossier-data">
{{#if stats}}
    <table class="dossier-table table table-hover">
        <thead>
            <tr>
                <th class="col-tier">Ур. {{icon 'question-sign help' 'Уровень танка. Для аккаунта это средний уровень танков.'}}</th>
                <th class="col-icon"></th>
                <th class="col-title">Название</th>
                <th>Бои</th>
                <th>Победы</th>
                <th>Дамаг</th>
                <th>{{formula.name}}</th>
            </tr>
        </thead>
        
        <tbody class="account">
            <tr class="item is-totals">
            {{#with totals}}
                <td class="col-tier">{{float battle.avgTier}}</td>
                <td class="col-icon"><span class="icon-tank icon-tank-Observer"></span></td>
                <td class="col-title">По аккаунту</td>
                <td>{{battle.battles}}</td>
                <td>{{percents battle.winRate}}</td>
                <td>{{float battle.avgDamageDealt}}</td>
                <td>{{color-scale efficiencyKey}} {{efficiency}}</td>
            {{/with}}
            </tr>
        </tbody>

        <tbody>
        {{#each stats}}
            <tr {{bind-attr class=":item isMuted"}}>
            {{#if battle.battles}}
                <td class="col-tier">{{battle.avgTier}}</td>
                <td class="col-icon"><span {{bind-attr class=":icon-tank tank.icon"}}></span></td>
                <td class="col-title">{{tank.info.title}}</td>
                <td>{{battle.battles}}</td>
                <td>{{percents battle.winRate}}</td>
                <td>{{float battle.avgDamageDealt}}</td>
                <td>{{color-scale efficiencyKey}} {{efficiency}}</td>
            {{else}}
                <td class="col-tier">{{tank.info.tier}}</td>
                <td class="col-title">{{tank.info.title}}</td>
                <td colspan="5">никогда не играл</td>
            {{/if}}
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>{{trans 'app.dossier.no-tanks'}}</p>
{{/if}}
</div>