<div class="page-dossier page-compare">

    <h1 class="page-header">
        {{#link-to 'dossier' player class="muted pull-left" title=player.player}}
            {{icon 'arrow-left'}}
        {{/link-to}}

        {{#link-to 'dossier' other class="muted pull-right" title=other.player}}
            {{icon 'arrow-right'}}
        {{/link-to}}

        {{#link-to 'compare' swappedContent class="compare-exchange"}}
            <span class="comparable player">{{player.player}}</span>
            <span title="{{trans 'app.dossier.compare.exchange'}}" class="slide">
                <span class="vs">VS</span>
                {{icon 'retweet'}}
            </span>
            <span class="comparable other">{{other.player}}</span>
        {{/link-to}}
    </h1>
    
    <div class="dossier-toolbar" role="toolbar">
        {{view App.BattleFilterView filter=filter.battleType}}
        {{view App.TankTypeFilterView filter=filter.tankType}}
    </div>

    <div class="dossier-data">{{view App.DossierTableView owner=this}}</div>
</div>