<div class="page-dossier">

    <h1 class="page-header">
        {{#view App.FavsView playerBinding="player"}}{{icon 'star'}}{{/view}}
        {{player}}
        {{#upload-button action="updateDossier" class="dossier-refresh btn btn-link" title="{{trans app.dossier.refresh}}"}}
            {{icon 'refresh'}}
        {{/upload-button}}
    </h1>
    
    <div class="dossier-toolbar" role="toolbar">
        {{view App.BattleFilterView filter=filter.battleType}}
        {{view App.TankTypeFilterView filter=filter.tankType}}
    </div>

    <div class="dossier-data">{{view App.DossierTableView owner=this}}</div>

    <dl class="dossier-details">
        <dt>{{trans 'app.dossier.server'}}:</dt>
        <dd>{{server}}</dd>
    
    {{#if aggregated.totals.battle.battles}}
        <dt>{{trans 'app.dossier.last-played'}}:</dt>
        <dd>{{date aggregated.totals.tank.last_played_at}}</dd>
    {{/if}}
    </dl>
</div>